<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>
<body>
    <h1>This is home page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, autem debitis obcaecati ducimus soluta ipsum, iste expedita similique vero eum iure suscipit voluptate minus ea iusto corrupti error repellat eius.</p>
    <button>click me</button>
</body>
</html>