<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>roll dice</title>
</head>
<body>
    <h1> dice value : <%= num %> </h1>
    <% if(num == 6) { %>
        <h2> u got 6 roll dice again !</h2>
    <% } %>
</body>
</html>